APP_NAME=Noah
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8888

APP_LOCALE=es
APP_FALLBACK_LOCALE=en

NOAH_DEMO_PASSWORD=noah_application

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=noah
DB_USERNAME=noah
DB_PASSWORD=noah

SESSION_DRIVER=redis
SESSION_LIFETIME=120

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@noah.local"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=noah
AWS_SECRET_ACCESS_KEY=noahsecret
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=noah
AWS_ENDPOINT=http://minio:9000
AWS_USE_PATH_STYLE_ENDPOINT=true

VITE_APP_NAME="${APP_NAME}"
